 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

 .CartContenedor{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     width: 100%;
     height: auto;
     color: #fff;
     min-height: 100vh;
}
 .CartContenedorContainer{
     background-color: rgba(0, 0, 0, 0.575);
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: column;
     min-height: 100vh;
}
 .filled-cart{
     display: flex;
     padding: 2em;
     width: 70%;
     justify-content: space-evenly;
     flex-wrap: wrap;
     align-items: center;
}
 .ImagenCard{
     width: 5em;
     height: 7em;
     border-radius: 20%;
}
 .CardCarritoBody{
     border-top: 1px solid #fff;
}
 .table>:not(caption)>*>*{
     text-align: center;
}
 .TituloCard{
     text-align: center;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 20px;
}
 .PrecioCard{
     color: rgb(13, 151, 13);
}
 .RemoveItem{
     font-size: 20px;
     transition: .8s;
     padding: 10px;
     color: rgb(255, 255, 255);
     background-color: rgb(213, 4, 4);
     border: #fff 1px solid;
     border-radius: 15px;
}
 .RemoveItem:hover{
     transition: .8s;
     color: rgb(255, 255, 255);
     background-color: red;
}
 .RemoveCart{
     display: flex;
     align-items: center;
     justify-content: center;
     border: rgb(42, 101, 209) 2px solid;
     border-radius: 10px;
     background-color: rgb(42, 101, 209);
     padding: 10px 20px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     transition: .7s;
}
 .RemoveCart:hover{
     color: rgb(255, 255, 255);
     background-color: rgb(34, 87, 186);
     transition: .7s;
}
 .CarritoVacio{
     color: #fff;
     font-size: 30px;
     padding: 10px 20px;
}
 .TotalItemCarrito{
     font-size: 25px;
}
 .VolverHome{
     margin: 0 1em;
     padding: 10px 20px;
     text-decoration: none;
     font-size: 30px;
     font-weight: 600;
     color: rgb(0, 0, 0);
     background-color: #fff;
     border-radius: 10px;
     border: none;
     text-align: center;
     align-items: center;
     display: flex;
     justify-content: center;
     transition: .8s;
}
 .VolverHome:hover{
     color: rgb(82, 82, 82);
     transition: .8s;
}
 .GraciasCompra{
     font-size: 21px;
     color: rgb(255, 255, 255);
     text-align: center;
}
 .OrderId{
     font-size: 22px;
     color: rgb(169, 169, 169);
}
 .ContenidoCarritoVacio{
     margin: 1em;
     padding: 2em;
     align-items: center;
     text-align: center;
}
 .TituloPrincipal{
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 40px;
     text-align: center;
}
 .TituloPrincipal span{
     color: rgb(121, 25, 25);
}
 .TotalCompra{
     margin: 1em 0;
}
 .PrecioTotal{
     color: rgb(2, 157, 41);
}
 .FormLabel{
     display: flex;
     justify-content: space-around;
     padding: 10px 20px;
     margin: 1em 0;
}
 .Comprar{
     margin: 0 1em;
     padding: 10px 20px;
     font-size: 20px;
     background-color: green;
     border: green 2px solid;
     border-radius: 10px;
     color: rgb(255, 255, 255);
     transition: .8s;
}
 .Comprar:hover{
     background-color: rgb(3, 114, 3);
     color: rgb(255, 255, 255);
     transition: .7s;
}
 form{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     align-content:center;
}
