 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

 body{
   background-color: rgb(224, 223, 223);
}
 .LibroDetail{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: rgb(204, 204, 204);
}
 .LibroDetailContenedor{
   background-color: #fff;
   border-radius: 10px;
   padding: 2em 0;
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}
 .ContenedorPrincipalLibro{
   background-color: #fff;
   width: 80%;
}
 .LibroDetailsContenedorExtra{
   width: 70%;
   padding: 2em;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Nunito Sans', sans-serif;
 }
 .LibroDetailsContenedorExtra table{
   width: 800px;
   padding: 2em;
   font: 200;
   font-family: 'Nunito Sans', sans-serif;
 }
 .LibroDetailsContenedorExtra tr{
   border-radius: 10px;
 }
 .LibroDetailsContenedorExtra td{
   padding: 20px;
 }
 .LibroDetailsContenedorExtra th{
   padding: 20px;
   background-color: #d3d3d3;
 }
 .LibroDetailsContenedorExtra h2{
   font-size: 25px;
   font: 100;
   
   padding: 10px;
 }
 .ContenedorDetalles-MediosPago{
   padding: 2em;
   margin: 3em 0;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: flex-end;
   width: 40%;
}
 .MediosPagoLibro{
   width: 70%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding: 2em 1em;
   border: 1px solid #b1b1b1;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   font-family: 'Raleway', sans-serif;
   color: rgb(0, 0, 0);
 }
 .MediosPagoLibro h2{
   font-size: 20px;
   font-weight: 200;
 }
 .MediosPagoLibro .TarjetasCredito span{
   color: grey;
 }
 .MediosPagoLibro h3{
   font: 100;
   font-size: 18px;
 }
 .TarjetasCredito{
   display: flex;
   flex-direction: column;
 }
 .MediosPagoLibro img{
   margin: 20px;
 }
 .TarjetasDebito{
  display: flex;
  flex-direction: column;
}
 .LibroDetailContenedor .LibroHeadDetail{
   margin: 2em;
}
 .LibroDetailContenedor .LibroHeadDetail img{
   width: 400px;
   height: 500px;
   transition: .9s;
}
 .LibroDetailContenedor .LibroBodyDetail{
   width: 70%;
   flex-wrap: wrap;
   text-align: center;
   padding: 2em;
   margin: 1em 0;
   border: 1px solid #b1b1b1;
   border-radius: 10px;
   font-family: 'Raleway', sans-serif;
   color: rgb(0, 0, 0);
}
 .LibroDetailContenedor .LibroBodyDetail h2{
   color: #000000;
   font-family: 'Playfair Display', serif;
   display: flex;
   justify-content: space-around;
   font-size: 20px;
   font: 200;
   border-bottom: 2px solid #b6b6b6;
}
 .LibroDetailContenedor .LibroBodyDetail h3, h4{
   font-size: 17px;
}
 .LibroDetailContenedor .LibroBodyDetail p{
   padding: 1em;
   color: rgb(72, 70, 70);
}
 .LibroDetailContenedor .LibroBodyDetail button{
   padding: 15px;
   margin: 10px;
   background-color: rgb(67, 96, 190);
   color: rgb(255, 255, 255);
   border: none;
   border-radius: 10px;
   transition: .9s;
}
 .LibroDetailContenedor .LibroBodyDetail .precio{
   color: #0f8c19;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 20px;
   margin: 1em;
   padding: 1em;
  }
 .Mg{
   font-size: 40px;
   color: rgb(67, 96, 190);
   cursor: pointer;
   transition: .6s;
  }
 .Mg:hover{
   transition: .6s;
   color: rgb(67, 96, 190);
 }
 .ContenedorGarantia{
   padding: 2em;
   border: 1px solid #b1b1b1;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
  }
 .Garantia{
   font-size: 20px;
   font-weight: 200;
 }
 .ContenedorGarantia span{
   color: grey;
 }
 code{
   color: green;
   font: 900;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 .EnvioRetiro{
   display: flex;
   flex-direction: column;
   padding: 10px 0;
 }
 .envios img{
   width: 50px;
   height: 50px;
 }
 .retirar img{
   width: 30px;
   height: 30px;
 }
 .Puntaje{
   font-size: 17px;
   font: 100;
   padding: 10px;
   margin: 10px 0;
   text-align: center;
  }
 @media (max-width: 500px){
   .LibroDetail{
     flex-direction: row;
     justify-content: space-around;
      width: 100%;
      height: auto
  }
}