.DetallesLibro{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 4em;
}
.DetallesLibroContenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

@media (max-width: 500px){
    .DetallesLibro{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2em 0;
    }
    .DetallesLibroContenedor{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1em;
    }
}