 .finalizarCompra{
     display: flex;
     align-items: center;
     justify-content: center;
     border: rgb(255, 255, 255) 2px solid;
     background-color: green;
     border-radius: 10px;
     padding: 10px 20px;
     margin: 5px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     transition: .7s;
}
 .finalizarCompra:hover{
     background-color: rgb(3, 114, 3);
     color: rgb(255, 255, 255);
     transition: .7s;
}
 .seguirComprando{
     display: flex;
     align-items: center;
     justify-content: center;
     border: rgb(42, 101, 209) 2px solid;
     border-radius: 10px;
     background-color: rgb(42, 101, 209);
     padding: 10px 20px;
     margin: 5px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     transition: .7s;
}
 .seguirComprando:hover{
     color: rgb(255, 255, 255);
     background-color: rgb(34, 87, 186);
     transition: .7s;
}
.stock-disponible{
    color: rgb(162, 162, 162);
    font-family: Georgia, 'Times New Roman', Times, serif;
}